<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sixminute.smlibrary">

    <application android:allowBackup="true" android:label="@string/app_name">

        <meta-data android:name="com.sixminute.smlibrary.SMHelper"
            android:value="UnityPlayerActivityProxy"/>

    </application>

</manifest>
